*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
#top{
    height:710px;
    width:100%;
    background-color: rgb(242,237,237);
    position: relative;  
}
#box1{
    height:90px;
    background-color: rgb(12, 6, 192);
    border-radius: 0px 0px 0px 70px;
    box-shadow: 10px 10px 10px 0px grey;
    font-family:"Google Sans"Roboto arial sans-serif;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    opacity: .5;   
}
#box1>h2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    margin-left:150px;
    word-spacing:5px ;
}
#box2{
    height:70px;
    width:80%;
    background-color: rgb(253,253,253);
    display: table;
    margin-left: 10%;
    position: relative;
    margin-top: -15px;
    border-radius: 0px 14px 0px 14px;
    box-shadow: 0px 10px 10px 0px grey;
}
#box3{
    height:fit-content;
    /* background-color: rgb(85, 28, 28); */
    /* top:30px; */
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: aquamarine; */
    width:100%;
    margin-top:20px;
    background-color:rgb(236,231,231);
    justify-content:space-around;    /* justify-content: space-around; */
    /* align-items: center;    */
}
#box21{
    display: flex;
    justify-content: space-around;
    width:100%;
    height:100%;
    align-items: center;
}
#box21>div{
    height:50px;
    width:250px;
    display: flex;
    align-items: center;
    background-color: rgb(253,253,253);
    box-shadow: 2px 2px 2px 2px grey;
    margin-left: 10px;
    color:#8A2BE2;
    padding-left: 20px;
}
#box21>div>input{
    padding-left: 10px;
    color: black;
    width:180px;
    font-family:cursive ;
    font-size: medium;
}
input::placeholder{
    color: #8A2BE2;
}
input:focus {
    outline: none;
  }
#box21>div>p{
    color:black
}
#box21>div>label{
    margin-left: -15px;
    color:black;
    font-family:cursive ;
    font-size: medium;
}
#box21>#inp>input{
    margin-left: -80px;
    color:black;
    font-family:cursive ;
    font-size: medium;
}
#box21>#inp>label{
    margin-left: -80px;
    width:110px;
    color:black;
    /* background-color: red; */
    font-family:cursive ;
    font-size: small;
}
#dateicon{
    padding: 10px;
}
#btnReset{
    /* margin-left: -10px; */
    width:60px;
    height: 36px;
    background-color:#8A2BE2;;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-weight: bold;
    margin-left: 5px;

}

#btnSearch{
    margin-left: -30px;
    width:60px;
    height: 36px;
    background-color:#8A2BE2;;
    border-radius: 5px 5px 5px 5px;
    color: white;
    font-weight: bold;
}

input:focus::placeholder{
    color:transparent;
}
#top>#circle1{
    height:300px;
    width:300px;
    background: linear-gradient(#9831A9,#7629CE);
    box-shadow: none;
    border-radius: 50%;
    margin-left: -130px;
    overflow: hidden;
    border: 2px solid #8A2BE2;
    box-shadow: 2px 2px 2px 2px rgb(189, 186, 186);
    position: fixed;
}
#top>#circle2{
    height:450px;
    width:450px;
    position: fixed;
    margin-left:1300px;
    background: linear-gradient(#EF0042,#DE0077);
    border-radius: 50%;
    margin-top: -20px;
    /* margin-top: -900px; */
    box-shadow: 2px 2px 2px 2px rgb(189, 186, 186);
}
#datepicker{
   color:blue;
}
#box3>div{
    height:250px;
    width:350px;
    background-color:rgb(245,241,241);
    margin-top: 60px;
    /* margin-top:; */
    box-shadow: 5px 5px 5px 5px rgb(77, 75, 75);
    border-radius: 10px 10px 10px 10px;
    opacity: .9;
    /* background-color: #8A2BE2; */
    /* display: grid; */
}
#box3>#card1>div{
    height: 40px;
    width:100%;
    opacity: 1.5;
    display: flex; 
    margin-left: 9px;
    font-size: 13px;   
}
#box3>#card1>#box31{
    height: 20px;
    margin-top:30px;
    opacity: 1.5;
    width: 310px;
    font-family: cursive;
    font-weight: small;    
}
#box3>#card1>#box31>p{
    margin-left: 170px;
    color:rgb(0, 0, 0);
}
#box3>#card1>#box31>h3{
    font-weight: normal;
    color:black;   
}
#box3>#card1>#box32{
    height: 45px;
    width: 310px;
    font-family: cursive;
    font-weight: small;
}
#box3>#card1>#box32>h3{
    margin-top: 20px;
    margin-left: -50px;
}
#box3>#card1>#box32>p{
    font-style: italic;
    color: rgb(47, 44, 44);
}
#box3>#card1>#box33{
    height: 45px;
    width: 350px;
    font-family: cursive;
    font-weight: small;
}
#box3>#card1>#box33>h3{
    margin-top: 20px;
    color:rgb(242,36,64);
    margin-left: -303px;
    width:400px;
}
#box3>#card1>#box33>p{
    font-style: italic;
    width: 350px;
    color:  rgb(47, 44, 44);
}
#box3>#card1>#box34{
    height: 45px;
    width: 350px;
    font-family: cursive;
    font-weight: small;
}
#box3>#card1>#box34>h3{
    margin-top: 20px;
    margin-left: -15px;
    width:800px;
}
#box3>#card1>#box34>p{
    font-style: italic;
    width:13px;
    color:  rgb(47, 44, 44);
}
#box3>#card1>#box35{
    height: 45px;
    width: 350px;
    font-family: cursive;
    font-weight: small;
}
#box3>#card1>#box35>h3{
    margin-top: 20px;
    margin-left: -130px;
    color:black;
    width:170px;
}
#box3>#card1>#box35>p{
    font-style: italic;
    color:  rgb(47, 44, 44);
    width:130px;
    height: 30px;
}
#box3>#card1>#box35>p1{
    width:100px;
    height: 20px;
}
#box3>#card1>#box35>p1>p{
    width:100px;
    height: 20px;
    color:  rgb(47, 44, 44);
}
#box3>#card1>#box35>p1>h3{
    margin-top: -19px;
    width:180px;
}
